$fonts: (
  primary: ("Archivo", sans-serif),
);

$colors: (
  primary: #5968BC,
  success: #6FAF8C,
  danger: #F88787,
  dark: #4A4A4A,
  light: #7C7C7F,
  lighter: #D9D9D9,
  shadow: rgba(167, 167, 167, 0.5),
);

